p {
   font-weight: 900;
   font-size: 20px;
   background-color: #F0F8FF;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}
canvas {
    background-color: white;
}
